<aside class="sidebar">
    <div class="logo">
        <a href="/"><img src="/assets/images/site_logo.png" alt="아일랜드 게스트하우스 로고"></a>
    </div>
    <nav class="menu">
					<ul>
					<li><a href="about.html" title="소개">소개<span>ABOUT</span></a></li>
					<li><a href="reservation.html" title="예약">예약<span>Reservation</span></a></li>
					<li><a href="rooms.html" title="숙소">객실<span>Rooms</span></a></li>
					<li><a href="facilities.html" title="부대시설">부대시설<span>Facilities</span></a></li>
					<li><a href="directions.html" title="오시는길">오시는 길<span>Direction</span></a></li>
					<!-- <li><a href="gallery.html" >갤러리<span>GALLERY</span></a></li> -->
					<!-- <li><a href="policy.html" title="환불규정">환불규정<span>Policy</span></a></li> -->
					<li><a href="contact.html" >문의<span>CONTACT</span></a></li>
				</ul>
    </nav>
</aside>