<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아일랜드 게스트하우스</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-grid.css">
    <script src="/assets/bootstrap/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page-background">
	       <div class="main-container">
            <div class="photo-frame">
   	 	        	{% include nav.html %}
                <main class="content">
                    <figure>
                    	{{ content }}

                    </figure>
                </main>
            </div>
        </div>
    </div>
</body>
</html>